.features-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $color-solitude-1;
  border-radius: 12px;
  padding: 32px;
  position: relative;
  justify-content: space-between;
  height: 100%;
  min-height: 300px;

  @include vp-1023 {
    padding: 30px;
    min-height: 215px;
  }

  @include vp-767 {
    position: relative;
    padding: 20px 0 20px 20px;
    min-height: 230px;
  }

  &__img {

    @include vp-1023 {
      width: 100%;
      height: 100%;
      padding: 8px 0;
    }

    @include vp-767 {
      position: absolute;
      top: 65px;
      right: 0;
      width: 160px;
      height: 100px;
      padding: 0;
    }
  }

  &--vertical {
    align-items: center;
    height: 100%;
    padding: 32px 20px 20px;

    @include vp-1023 {
      align-items: flex-start;
      padding: 15px;
      min-height: 204px;

      .features-card__inner {
        min-width: 180px;
      }

      .features-card__btn {
        position: unset;
      }

      .features-card__img {
        position: unset;
        // width: 130px;
        // height: 80px;
      }
    }

    @include vp-767 {
      min-height: 302px;
      align-items: center;
      padding: 15px 15px 20px;
      gap: 5px;

      .features-card__inner {
        min-width: unset;
      }
    }

    .features-card__wrapper {
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 25px 0;

      @include vp-1023 {
        flex-direction: row;
        align-items: flex-start;
        margin: 0;
        gap: 6px;
        min-height: 127px;
      }

      @include vp-767 {
        flex-direction: column;
        margin-bottom: 15px;
      }
    }

    .features-card__inner {
      align-items: center;

      @include vp-1023 {
        align-items: flex-start;
      }
    }

    .features-card__label {
      margin: 0 0 10px 0;

      @include vp-767 {
        margin: 0 0 10px 0;
      }
    }

    .features-card__title {
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 8px 0;
      text-align: center;

      @include vp-1023 {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 14px 0;
        text-align: left;
      }

      @include vp-767 {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 5px 0;
      }
    }

    .features-card__note {
      font-size: 14px;
      line-height: 20px;
      text-align: center;

      @include vp-1023 {
        font-size: 12px;
        line-height: 16px;
        text-align: left;
      }
    }
  }

  &--reverse {
    .features-card__label {
      border: 1px solid $color-white-alpha;
      color: $color-white-alpha;
    }

    .features-card__title {
      color: $color-white;
    }

    .features-card__note {
      color: $color-white;
    }

  }

  &--bg-blue {
    background-color: $color-royal-blue;
  }

  &--bg-green {
    background-color: $color-humming-bird;
  }

  &--bg-blue,
  &--bg-green,
  &--bg-lightblue {
    @include vp-767 {
      .features-card__note {
        // min-width: 200px;
        z-index: 1;
      }

      position: relative;

      .features-card__img {
        position: absolute;
        right: 0;
      }
    }
  }

  &--bg-lightblue {
    background-color: $color-pattens-blue;
  }

  &__wrapper {
    display: flex;
    gap: 20px;
    margin: 0 0 16px 0;
    width: 100%;

    @include vp-1023 {
      justify-content: space-between;
      margin: 0;
    }

    @include vp-767 {
      gap: 0;
      min-height: 145px;
      margin: 0 0 9px 0;

      picture {
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
    }
  }

  &__inner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 245px;

    @include vp-1023 {
      max-width: 400px;
    }

    @include vp-767 {
      max-width: 200px;
    }
  }

  &__label {
    border: 1px solid $color-black-russian-alpha;
    border-radius: 4px;
    color: $color-black-russian-alpha;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    margin: 0 0 12px 0;
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 66px;

    @include vp-1023 {
      padding: 4px;
      margin: 0 0 15px 0;
      font-size: 8px;
      line-height: 12px;
      width: 58px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 12px 0;

    @include vp-1023 {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__note {
    font-size: 15px;
    line-height: 22px;
    margin: 0;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
      // margin-bottom: 30px;
    }
  }

  &__btn {
    width: 140px;

    @include vp-1023 {
      width: 127px;
      font-size: 12px;
      line-height: 16px;
      margin: 0;
      position: absolute;
      bottom: 30px;
    }

    @include vp-767 {
      position: unset;
      // margin: auto 0 20px;
    }
  }
}